  <div class="alert alert-success" role="alert">
    <span>Payment Intent <a href="https://dashboard.stripe.com/test/payments/<%= intent.id %>"><%= intent.id %></a> has status <%= intent.status %></span>
  </div>