<html>
  <%- include('partials/header') %>
  
  <body class="bg-light">
    <div class="container">
      <div class="py-5 text-center">
        <h2>Checkout form</h2>
        <p class="lead">In pharetra, neque facilisis dictum rhoncus, velit erat tristique velit, a bibendum nunc dui quis felis. Nullam vitae ligula et velit blandit viverra. Morbi pharetra ut orci in ullamcorper. Praesent et condimentum tellus, et tempus ipsum. Maecenas dignissim aliquet justo.</p>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">1</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Maltese Falcon</h6>
                <small class="text-muted">Winner of Best MacGuffin 1941</small>
              </div>
              <span class="text-muted">&euro;19.99</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (Euro)</span>
              <strong>&euro;19.99</strong>
            </li>
          </ul>

        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Payment</h4>
          
          <form action="/charge" method="post" id="payment-form">
            
            <br>
            
            <div class="row">
              <div class="col-md-12">
                 <div id="card-element">
                  <!-- A Stripe Element will be inserted here. -->
                </div>
                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
              </div>
            </div>
            
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Pay Now</button>
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2019 MacGuffin Inc</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>
    
    <script>
      const STRIPE_PUBLISHABLE_KEY = "<%= STRIPE_PUBLISHABLE_KEY %>";
    </script>
    
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/client.js" defer></script>
  </body>
</html>