<html>
  <%- include('partials/header') %>
  
  <body class="bg-light">
    <div class="container">
      
      <br>
      <%- include('partials/status') %>
      
      <h1>
        Thanks for your purchase!
      </h1>
      
    </div>
  </body>
</html>