<html>
  <%- include('partials/header') %>
  
  <body class="bg-light">
    <div class="container">
      
      <br>
      <%- include('partials/status') %>
      
      <h1>
        <%= payment_status === 'succeeded' ?
          'Thanks for buying a MacGuffin!' :
          'Oh no! Something went wrong.'
        %>
      </h1>
      
    </div>
  </body>
</html>